.sidebar{
display:flex;
flex-direction:column;
align-items:center;
position:fixed;
top:64px;
left:0;
bottom:0;
width:80px;
background-color:white;
transparent:side-icons 0.5s;
}
.side-icons{
display:flex;
justify-content:center;
align-items:center;
height:72px;
width:80px;
margin-bottom:15px;
cursor:pointer;
background-color:white;
}
.side-icons:hover{
background-color:rgb(225,225,225);
}
.side-image{
height:40px;
}
.side-icons{
display:flex;
flex-direction:column;
}
.side-image{
margin-bottom:5px;
}